body{
    
    background-image: url(../Images/170757-OVQW0N-79.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.contact{
    margin-top: 10px;
}